{% extends "base.html" %}

{% block content %}
<h1>produit...</h1>

    <h2>{{product.name}}</h2>
    <h2>{{product.price}}</h2><p>£</p>
    <img src="{{produit.thumbnail.url}}" alt="" style="max-width: 250px;">
    <p>{{product.description}}</p>
    <p>{{product.stock}}</p>
    
    
    {% if bank.money > product.price %}

        {% if product.stock > 0 %}
            <a href="{% url 'add_to_cart' product.slug %}">Ajouter</a>

        {% else %}
            <h2>Sorry, We're out of this article</h2>

        {% endif %}
        
    {% else %}

        <h2>You don't have enough money to borrow that</h2>

    {% endif %}
        
    
        

{% endblock content %}

